*{margin: 0; padding: 0;}
/* 通配符把所有元素的margin和padding都设为0 */
#header{
	width: 999px;
	height: 100px;
	/* background: red; */
	margin: 0 auto;
}
#header .logo{
	width: 241px;
	height: 31px;
	/* background-color: black; */
	margin: 35px 0 34px 20px;
	float: left;}
	
#header .search{
	border: 1px solid;
	border-color: #e5e5e5;
	background-color: #f1f1f1;
	width: 228px;
	height: 29px;
	float: right;
	margin: 35px 20px 34px 0;
}
#header .search .text{
	border: none;
	width: 193px;
	height: 29px;
	padding-left: 10px;
	float: left;
	background-color: #f1f1f1;
}
#header .search .bt{
	border: none;
	width: 25px;
	height: 31px;
	float: left;
	resize: auto;
	background: url(../img/search_bt.png) no-repeat center left;
}

#nav{
	width: 999px;
	height: 60px;
	background: black;
	margin: 0 auto;
}

#nav ul li{
	background-color: black;
	font-size: 13px;
	list-style: none;
	float: left ;
	text-align: center;
	width: 120px;
	height: 60px;
	line-height: 60px;
	border-right: 1px gray solid;
}
#nav ul li a{
	color: white;
	text-decoration: none;
}

#nav ul {
	padding-left: 20px;
	padding-right: 12px;
}
#nav ul .last_nav{border: none;}



#banner{
	width: 999px;
	height: 464px;
	/* background: purple; */
	margin: 0 auto;
}

#news{
	width: 999px;
	height: 547px;
	/* background: green; */
	margin: 0 auto;
}
#news .news1{
	width: 999px;
	height: 243px;
	/* background-color: pink; */
}
#news .news1 .box1{
    padding-left: 20px;
    padding-right: 27px;
    width: 453px;
    height: 243px;
    float: left;
    /* background-color: pink; */
}

#news .news1 .box1 .head{
    height: 84px;
}
#news .news1 .box1 .head h3{
    line-height: 84px;
    height: 84px;
    text-align: left;
    font-size: 20px;
	color: #535353;
}
#news .news1 .box1 ul{
    list-style: inside;
    width: 454px;
}
#news .news1 .box1 ul li{
    height: 24px;
    line-height: 24px;
	color: #888888;
}
#news .news1 .box1 a{
    color: #535353;
	font-size: 12px;
	line-height: 25px;
    text-decoration: none;
}
#news .news1 .box1 ul li span{
    color: #808080;
    float: right;
	line-height: 20px;
	font-size: 10px;
}

#news .news1 .box2{
    padding-left: 26px;
    float: left;
    width: 214px;
    height: 243px;
    background-color: #f1f1f1;
}
#news .news1 .box2 h3{
    height: 84px;
    line-height: 84px;
}
#news .news1 .box2 .p1{
    font: bold;
    height: 75px;
    font-size: 14px;
    /* line-height: 36px; */
    width: 125px;
	color: #535353;
}
#news .news1 .box2 .p2{
    color: #7e7e7e;
    height: 86px;
    font-size: 13px;
    width: 193px;
}

#news .news1 .box3{
    background: url(../img/pot_box3.png) bottom right no-repeat;
    padding-left: 25px;
    float: left;
    width: 234px;
    height: 243px;
    background-color: #fbfbfb;
}
#news .news1 .box3 h3{
    height: 84px;
    line-height: 84px;
	
}
#news .news1 .box3 p{
    width: 180px;
    height: 35px;
    margin-bottom: 55px;
	color: #535353;
}

/* 以下开始时 news区域里面的第二部分
 news2 这一部分 */
#news .news2{
	width: 960px;
	height: 226px;
	/* background-color: greenyellow; */
	padding: 29px 20px 49px 19px;
}
#news .news2 h3{
	height: 37px;
	width: 960px;
	text-align: left;
	/* background-color: pink; */
}
#news .news2 .content{
	width: 960px;
	height: 191px;
	/* background-color: orange; */
}
#news .news2 .content .smallbox{
	width: 210px;
	height: 191px;
	margin-right: 40px;
	float: left;
	/* background-color: darkred; */
}
#news .news2 .content .smallbox img{
	margin-bottom: 8px;
	float: left;
}
#news .news2 .content .smallbox a{
	text-decoration: none;
	color: #575757;
	font-size: 12px;
	line-height: 22px;
	color: #575757;
	
	
	
}

/* 最下面的footer底部区域这一部分 */
#footer{
	width: 999px;
	height: 332px;
	/* background: gray; */
	margin: 0 auto;
}

#footer .section1{
	width: 959px;
	height: 220px;
	background-color: #e5e5e5;
	padding: 30px 20px 0px 20px;
}
#footer .section1 .view1{
	width: 453px;
	height: 220px;
	/* background-color: green; */
	float: left;
}
#footer .section1 .view2{
	width: 155px;
	height: 220px;
	margin: 0 49px 0 49px;
	float: left;
}
#footer .section1 .view3{
	width: 253px;
	height: 220px;
	float: left;
}
#footer .section1 h3{
	padding-left: 13px;
	margin-bottom: 20px;
	font-size: 16px;
	height: 27px;
	color: #6f6f6f;
	border-bottom: 1px #c2c2c2 solid;
}
#footer .section1 ul{
	float: left;
	margin: 5px;
	
}
#footer .section1 ul li{
	list-style: url(../img/footer_list_style.png);
	list-style-position: inside;
}
#footer .section1 ul li a{
	text-decoration: none;
	color: #6f6f6f;
	font-size: 12px;
}


#footer .section2{
	width: 961px;
	height: 57px;
	/* background-color: green; */
	padding: 25px 18px 0px 20px;
}
#footer .section2 .part1{
	width: 342px;
	height: 57px;
	float: left;
	/* padding-right: 128px; */
	/* background-color: #7E7E7E; */
}
#footer .section2 .part2{
	width: 590px;
	height: 57px;
	float: right;
	/* background-color: red; */
}
#footer .section2  a{
	
	font-size: 12px;
	text-decoration: none;
	color: #828282;
}
#footer .section2 .part1 span{
	padding-top: 2px;
	color: #828282;
	font-size: 14px;
}
#footer .section2 .part2{
	color: #828282;
	font-size: 12px;
}

